* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: inherit;
  letter-spacing: -0.04em;
}
body p {
  margin: 0;
}
body {
  padding: 0 40px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
img {
  width: 100%;
}

/* header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
header .header_inner {
  width: 100%;
  margin: 0 auto;
}
.hd_top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}
.cart_button button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  line-height: 1;
}
.login_button button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
  line-height: 1;
}
.logo {
  text-align: center;
  padding: 20px 0;
}
.logo a {
  font-size: 45px;
  font-weight: bold;
  text-decoration: none;
}
nav > ul {
  display: flex;
  justify-content: center;
  gap: 80px;
}
nav > ul > li a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
}
.nav {
  justify-content: center;
  position: relative;
}
.nav .search_box {
  position: absolute;
  right: 0;
}

/* ProductAll */
section {
  padding: 40px 0 60px;
}
.item_list {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.item_list > div {
  position: relative;
}
.img_wrap .new {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.img_wrap {
  overflow: hidden;
  position: relative;
}
.img_wrap img {
  transition: all 0.3s;
}
.img_wrap img:hover {
  transform: scale(1.1);
  filter: brightness(50%);
}
.img_wrap:hover .new {
  opacity: 1;
  visibility: visible;
}

/* Login */
.loginBtn {
  display: block !important;
  margin: 40px auto 0;
}

/* ProductDetail */
.product_detail_wrap .product_img {
  max-width: 400px;
}
.product_detail_wrap .box {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product_detail_wrap .box input {
  max-width: 60px;
}
.product_detail_wrap .box button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 37px;
  font-size: 20px;
  padding-bottom: 9px;
}
.product_detail_wrap .title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}
.product_detail_wrap .size_select {
  max-width: 200px;
  margin: 10px 0 15px;
}
.product_detail_wrap .price {
  font-size: 18px;
}
.product_detail_wrap .choice {
  margin: 5px auto 10px;
}
.product_detail_wrap .totalPrice {
  text-align: right;
  margin-top: 25px;
}
.product_detail_wrap .addCart {
  margin-top: 15px;
  display: block;
  margin-left: auto;
}

/* 장바구니 */
.cartItem li {
  display: flex;
  gap: 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 15px 50px 15px 15px;
  width: 100%;
}
.cartItem li + li {
  margin-top: 15px;
}
.cartItem li .img {
  max-width: 100px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}
.cartItem li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartItem li .info {
  flex: 1;
}
.cartItem li .title {
  font-weight: 600;
  margin-bottom: 30px;
}
.cartItem li p:not(.title) {
  font-size: 16px;
  text-align: right;
}
